@import url(https://fonts.googleapis.com/css?family=Rubik:300,300i,400,400i,500,500i,700,700i,900,900i&display=swap);





body {
  font-family: Rubik;
}
.display-1 {
  font-family: 'Rubik', sans-serif;
  font-size: 4.25rem;
  font-display: swap;
}
.display-1 > .mbr-iconfont {
  font-size: 6.8rem;
}
.display-2 {
  font-family: 'Rubik', sans-serif;
  font-size: 3rem;
  font-display: swap;
}
.display-2 > .mbr-iconfont {
  font-size: 4.8rem;
}
.display-4 {
  font-family: 'Rubik', sans-serif;
  font-size: 1rem;
  font-display: swap;
}
.display-4 > .mbr-iconfont {
  font-size: 1.6rem;
}
.display-5 {
  font-family: 'Rubik', sans-serif;
  font-size: 2.5rem;
  font-display: swap;
}
.display-5 > .mbr-iconfont {
  font-size: 4rem;
}
.display-7 {
  font-family: 'Rubik', sans-serif;
  font-size: 1.5rem;
  font-display: swap;
}
.display-7 > .mbr-iconfont {
  font-size: 2.4rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 768px) {
  .display-1 {
    font-size: 3.4rem;
    font-size: calc( 2.1374999999999997rem + (4.25 - 2.1374999999999997) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (2.1374999999999997rem + (4.25 - 2.1374999999999997) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 2.4rem;
    font-size: calc( 1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.8rem;
    font-size: calc( 1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 2rem;
    font-size: calc( 1.525rem + (2.5 - 1.525) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.525rem + (2.5 - 1.525) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 1rem 3rem;
  border-radius: 3px;
}
.btn-sm {
  padding: 0.6rem 1.5rem;
  border-radius: 3px;
}
.btn-md {
  padding: 1rem 3rem;
  border-radius: 3px;
}
.btn-lg {
  padding: 1.2rem 3.2rem;
  border-radius: 3px;
}
.bg-primary {
  background-color: #073b4c !important;
}
.bg-success {
  background-color: #f7ed4a !important;
}
.bg-info {
  background-color: #82786e !important;
}
.bg-warning {
  background-color: #879a9f !important;
}
.bg-danger {
  background-color: #000000 !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #073b4c !important;
  border-color: #073b4c !important;
  color: #ffffff !important;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #ffffff !important;
  background-color: #010506 !important;
  border-color: #010506 !important;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #010506 !important;
  border-color: #010506 !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #ff3366 !important;
  border-color: #ff3366 !important;
  color: #ffffff !important;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #ffffff !important;
  background-color: #e50039 !important;
  border-color: #e50039 !important;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #e50039 !important;
  border-color: #e50039 !important;
}
.btn-info,
.btn-info:active {
  background-color: #82786e !important;
  border-color: #82786e !important;
  color: #ffffff !important;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #ffffff !important;
  background-color: #59524b !important;
  border-color: #59524b !important;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #59524b !important;
  border-color: #59524b !important;
}
.btn-success,
.btn-success:active {
  background-color: #f7ed4a !important;
  border-color: #f7ed4a !important;
  color: #3f3c03 !important;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #3f3c03 !important;
  background-color: #eadd0a !important;
  border-color: #eadd0a !important;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #3f3c03 !important;
  background-color: #eadd0a !important;
  border-color: #eadd0a !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #879a9f !important;
  border-color: #879a9f !important;
  color: #ffffff !important;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #ffffff !important;
  background-color: #617479 !important;
  border-color: #617479 !important;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #617479 !important;
  border-color: #617479 !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #000000 !important;
  border-color: #000000 !important;
  color: #ffffff !important;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-white {
  color: #333333 !important;
}
.btn-white,
.btn-white:active {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  color: #808080 !important;
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-white.disabled,
.btn-white:disabled {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-black,
.btn-black:active {
  background-color: #333333 !important;
  border-color: #333333 !important;
  color: #ffffff !important;
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background: none;
  border-color: #000000;
  color: #000000;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #ffffff;
  background-color: #073b4c;
  border-color: #073b4c;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #073b4c !important;
  border-color: #073b4c !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background: none;
  border-color: #cc0033;
  color: #cc0033;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #ffffff;
  background-color: #ff3366;
  border-color: #ff3366;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #ff3366 !important;
  border-color: #ff3366 !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background: none;
  border-color: #4b453f;
  color: #4b453f;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #ffffff;
  background-color: #82786e;
  border-color: #82786e;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #82786e !important;
  border-color: #82786e !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background: none;
  border-color: #d2c609;
  color: #d2c609;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #3f3c03;
  background-color: #f7ed4a;
  border-color: #f7ed4a;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #3f3c03 !important;
  background-color: #f7ed4a !important;
  border-color: #f7ed4a !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background: none;
  border-color: #55666b;
  color: #55666b;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #ffffff;
  background-color: #879a9f;
  border-color: #879a9f;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #879a9f !important;
  border-color: #879a9f !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background: none;
  border-color: #000000;
  color: #000000;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #ffffff;
  background-color: #000000;
  border-color: #000000;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background: none;
  border-color: #000000;
  color: #000000;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #ffffff;
  background-color: #333333;
  border-color: #333333;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #333333 !important;
  border-color: #333333 !important;
}
.btn-white-outline,
.btn-white-outline:active,
.btn-white-outline.active {
  background: none;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus {
  color: #333333;
  background-color: #ffffff;
  border-color: #ffffff;
}
.text-primary {
  color: #073b4c !important;
}
.text-secondary {
  color: #ff3366 !important;
}
.text-success {
  color: #f7ed4a !important;
}
.text-info {
  color: #82786e !important;
}
.text-warning {
  color: #879a9f !important;
}
.text-danger {
  color: #000000 !important;
}
.text-white {
  color: #ffffff !important;
}
.text-black {
  color: #000000 !important;
}
a.text-primary:hover,
a.text-primary:focus {
  color: #000000 !important;
}
a.text-secondary:hover,
a.text-secondary:focus {
  color: #cc0033 !important;
}
a.text-success:hover,
a.text-success:focus {
  color: #d2c609 !important;
}
a.text-info:hover,
a.text-info:focus {
  color: #4b453f !important;
}
a.text-warning:hover,
a.text-warning:focus {
  color: #55666b !important;
}
a.text-danger:hover,
a.text-danger:focus {
  color: #000000 !important;
}
a.text-white:hover,
a.text-white:focus {
  color: #b3b3b3 !important;
}
a.text-black:hover,
a.text-black:focus {
  color: #4d4d4d !important;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #82786e;
}
.alert-warning {
  background-color: #879a9f;
}
.alert-danger {
  background-color: #000000;
}
.mbr-section-btn a.btn:not(.btn-form):hover,
.mbr-section-btn a.btn:not(.btn-form):focus {
  box-shadow: none !important;
}
.mbr-gallery-filter li.active .btn {
  background-color: #073b4c;
  border-color: #073b4c;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
a,
a:hover {
  color: #073b4c;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #4ac6ee;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #beb8b2;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ced6d8;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #b3b3b3;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
.form-control {
  font-family: 'Rubik', sans-serif;
  font-size: 1.5rem;
  font-display: swap;
}
.form-control > .mbr-iconfont {
  font-size: 2.4rem;
}
blockquote {
  border-color: #073b4c;
}
/* Forms */
.mbr-form .btn {
  margin: .4rem 0;
}
@media (max-width: 767px) {
  .btn {
    font-size: .75rem !important;
  }
  .btn .mbr-iconfont {
    font-size: 1rem !important;
  }
}
/* Footer */
.mbr-footer-content li::before,
.mbr-footer .mbr-contacts li::before {
  background: #073b4c;
}
.mbr-footer-content li a:hover,
.mbr-footer .mbr-contacts li a:hover {
  color: #073b4c;
}
/* Headers*/
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .card-wrapper {
    flex: auto !important;
  }
}
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #073b4c;
  color: #ffffff;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: currentColor;
  border-bottom-color: currentColor;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #073b4c;
  border-bottom-color: #073b4c;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #ffffff !important;
  background-color: #073b4c !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #ffffff !important;
  background: #ff3366 !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section) {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 100px;
  height: 100px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%23073b4c' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.3;
}
.cid-rFlTeyImST {
  padding-top: 120px;
  padding-bottom: 30px;
  background-color: #ffffff;
}
.cid-rFlTeyImST .line {
  background-color: #232323;
  color: #232323;
  align: center;
  height: 2px;
  margin: 0 auto;
}
.cid-rFlTeyImST .section-text {
  padding: 2rem 0;
}
.cid-rFlTeyImST .inner-container {
  margin: 0 auto;
}
@media (max-width: 768px) {
  .cid-rFlTeyImST .inner-container {
    width: 100% !important;
  }
}
.cid-rFlThrueDB {
  background: #ffffff;
  padding-top: 60px;
  padding-bottom: 60px;
  background: linear-gradient(0deg, #ffffff, #ffffff);
}
.cid-rFlThrueDB .video-block {
  margin: auto;
}
@media (max-width: 768px) {
  .cid-rFlThrueDB .video-block {
    width: 100% !important;
  }
}
.cid-rXA5c1A5Ef {
  background-image: url("../../../assets/images/eby2yanxuauja5n-937x757.jpg");
}
.cid-rXA5p9cT7j {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-rXA5p9cT7j p {
  color: #767676;
}
.cid-rXA5p9cT7j .mbr-section-subtitle {
  color: #767676;
}
.cid-rXA5p9cT7j .accordion-content {
  flex-basis: 100%;
  -webkit-flex-basis: 100%;
}
.cid-rXA5p9cT7j .panel-group {
  width: 100%;
}
.cid-rXA5p9cT7j .card {
  border-radius: 0px;
  margin-bottom: -1px;
}
.cid-rXA5p9cT7j .card .card-header {
  border-radius: 0px;
  border: 0px;
  padding: 0;
}
.cid-rXA5p9cT7j .card .card-header a.panel-title {
  margin-bottom: 0;
  font-style: normal;
  font-weight: 500;
  display: block;
  text-decoration: none !important;
  margin-top: -1px;
  line-height: normal;
}
.cid-rXA5p9cT7j .card .card-header a.panel-title:focus {
  text-decoration: none !important;
}
.cid-rXA5p9cT7j .card .card-header a.panel-title h4 {
  padding: 1.3rem 2rem;
  border: 1px solid #dfdfdf;
  margin-bottom: 0;
}
.cid-rXA5p9cT7j .card .card-header a.panel-title h4 .sign {
  padding-right: 1rem;
}
.cid-rXA5p9cT7j .mbr-figure {
  -webkit-align-self: flex-start;
  align-self: flex-start;
  padding-left: 4rem;
  padding-left: 0;
  padding-right: 4rem;
}
.cid-rXA5p9cT7j .media-container-row {
  -webkit-flex-direction: row-reverse;
  flex-direction: row-reverse;
}
@media (max-width: 991px) {
  .cid-rXA5p9cT7j .media-container-row {
    -webkit-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
  .cid-rXA5p9cT7j .mbr-figure {
    padding-right: 0;
    padding-left: 0;
    padding-top: 2rem;
    padding-top: 0;
    padding-bottom: 2rem;
  }
}
.cid-rXA5p9cT7j H2 {
  text-align: left;
}
.cid-rXA5p9cT7j H4 {
  color: #000000;
}
.cid-rMbkFV46Df {
  padding-top: 120px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-rMbkFV46Df .mbr-section-subtitle {
  color: #767676;
  text-align: left;
}
.cid-rMbkFV46Df H2 {
  text-align: left;
}
.cid-rMbi2bNK7p {
  background: #ffffff;
  padding-top: 15px;
  padding-bottom: 60px;
  background: linear-gradient(0deg, #ffffff, #ffffff);
}
.cid-rMbi2bNK7p .video-block {
  margin: auto;
}
@media (max-width: 768px) {
  .cid-rMbi2bNK7p .video-block {
    width: 100% !important;
  }
}
.cid-rMbm3780lC {
  padding-top: 120px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-rMbm3780lC .mbr-section-subtitle {
  color: #767676;
  text-align: left;
}
.cid-rMbm3780lC H2 {
  text-align: left;
}
.cid-rMbm9hvEhQ {
  background: #ffffff;
  padding-top: 60px;
  padding-bottom: 60px;
  background: linear-gradient(0deg, #ffffff, #ffffff);
}
.cid-rMbm9hvEhQ .video-block {
  margin: auto;
}
@media (max-width: 768px) {
  .cid-rMbm9hvEhQ .video-block {
    width: 100% !important;
  }
}
.cid-rMbmviLjNC {
  padding-top: 120px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-rMbmviLjNC .mbr-section-subtitle {
  color: #767676;
  text-align: left;
}
.cid-rMbmviLjNC H2 {
  text-align: left;
}
.cid-rMbmqhomyv {
  background: #ffffff;
  padding-top: 60px;
  padding-bottom: 60px;
  background: linear-gradient(0deg, #ffffff, #ffffff);
}
.cid-rMbmqhomyv .video-block {
  margin: auto;
}
@media (max-width: 768px) {
  .cid-rMbmqhomyv .video-block {
    width: 100% !important;
  }
}
.cid-rMbmYTL0Bc {
  padding-top: 120px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-rMbmYTL0Bc .mbr-section-subtitle {
  color: #767676;
  text-align: left;
}
.cid-rMbmYTL0Bc H2 {
  text-align: left;
}
.cid-rMbn7g2qoV {
  background: #ffffff;
  padding-top: 60px;
  padding-bottom: 60px;
  background: linear-gradient(0deg, #ffffff, #ffffff);
}
.cid-rMbn7g2qoV .video-block {
  margin: auto;
}
@media (max-width: 768px) {
  .cid-rMbn7g2qoV .video-block {
    width: 100% !important;
  }
}
.cid-rMbo6BVCiK {
  padding-top: 120px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-rMbo6BVCiK .mbr-section-subtitle {
  color: #767676;
  text-align: left;
}
.cid-rMbo6BVCiK H2 {
  text-align: left;
}
.cid-rMbo2IOwCu {
  background: #ffffff;
  padding-top: 60px;
  padding-bottom: 60px;
  background: linear-gradient(0deg, #ffffff, #ffffff);
}
.cid-rMbo2IOwCu .video-block {
  margin: auto;
}
@media (max-width: 768px) {
  .cid-rMbo2IOwCu .video-block {
    width: 100% !important;
  }
}
.cid-rMbowP88Y8 {
  padding-top: 120px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-rMbowP88Y8 .mbr-section-subtitle {
  color: #767676;
  text-align: left;
}
.cid-rMbowP88Y8 H2 {
  text-align: left;
}
.cid-rMboyNir5a {
  background: #ffffff;
  padding-top: 60px;
  padding-bottom: 60px;
  background: linear-gradient(0deg, #ffffff, #ffffff);
}
.cid-rMboyNir5a .video-block {
  margin: auto;
}
@media (max-width: 768px) {
  .cid-rMboyNir5a .video-block {
    width: 100% !important;
  }
}
.cid-rMbp4dFfq8 {
  padding-top: 120px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-rMbp4dFfq8 .mbr-section-subtitle {
  color: #767676;
  text-align: left;
}
.cid-rMbp4dFfq8 H2 {
  text-align: left;
}
.cid-rMbp1rbuQ2 {
  background: #ffffff;
  padding-top: 60px;
  padding-bottom: 60px;
  background: linear-gradient(0deg, #ffffff, #ffffff);
}
.cid-rMbp1rbuQ2 .video-block {
  margin: auto;
}
@media (max-width: 768px) {
  .cid-rMbp1rbuQ2 .video-block {
    width: 100% !important;
  }
}
.cid-rMbpMvO8S5 {
  padding-top: 120px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-rMbpMvO8S5 .mbr-section-subtitle {
  color: #767676;
  text-align: left;
}
.cid-rMbpMvO8S5 H2 {
  text-align: left;
}
.cid-rMbpOvgUDI {
  background: #ffffff;
  padding-top: 60px;
  padding-bottom: 60px;
  background: linear-gradient(0deg, #ffffff, #ffffff);
}
.cid-rMbpOvgUDI .video-block {
  margin: auto;
}
@media (max-width: 768px) {
  .cid-rMbpOvgUDI .video-block {
    width: 100% !important;
  }
}
.cid-rMbqoohcer {
  padding-top: 120px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-rMbqoohcer .mbr-section-subtitle {
  color: #767676;
  text-align: left;
}
.cid-rMbqoohcer H2 {
  text-align: left;
}
.cid-rMbqghKH9r {
  background: #ffffff;
  padding-top: 60px;
  padding-bottom: 60px;
  background: linear-gradient(0deg, #ffffff, #ffffff);
}
.cid-rMbqghKH9r .video-block {
  margin: auto;
}
@media (max-width: 768px) {
  .cid-rMbqghKH9r .video-block {
    width: 100% !important;
  }
}
.cid-rMbqJFW6ku {
  padding-top: 120px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-rMbqJFW6ku .mbr-section-subtitle {
  color: #767676;
  text-align: left;
}
.cid-rMbqJFW6ku H2 {
  text-align: left;
}
.cid-rMbqPGSbb4 {
  background: #ffffff;
  padding-top: 60px;
  padding-bottom: 60px;
  background: linear-gradient(0deg, #ffffff, #ffffff);
}
.cid-rMbqPGSbb4 .video-block {
  margin: auto;
}
@media (max-width: 768px) {
  .cid-rMbqPGSbb4 .video-block {
    width: 100% !important;
  }
}
.cid-rMbrglHYLL {
  padding-top: 120px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-rMbrglHYLL .mbr-section-subtitle {
  color: #767676;
  text-align: left;
}
.cid-rMbrglHYLL H2 {
  text-align: left;
}
.cid-rMbr8M6WIO {
  background: #ffffff;
  padding-top: 60px;
  padding-bottom: 60px;
  background: linear-gradient(0deg, #ffffff, #ffffff);
}
.cid-rMbr8M6WIO .video-block {
  margin: auto;
}
@media (max-width: 768px) {
  .cid-rMbr8M6WIO .video-block {
    width: 100% !important;
  }
}
.cid-rMbrFsdBKZ {
  padding-top: 120px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-rMbrFsdBKZ .mbr-section-subtitle {
  color: #767676;
  text-align: left;
}
.cid-rMbrFsdBKZ H2 {
  text-align: left;
}
.cid-rMbrLFXyXb {
  background: #ffffff;
  padding-top: 60px;
  padding-bottom: 60px;
  background: linear-gradient(0deg, #ffffff, #ffffff);
}
.cid-rMbrLFXyXb .video-block {
  margin: auto;
}
@media (max-width: 768px) {
  .cid-rMbrLFXyXb .video-block {
    width: 100% !important;
  }
}
.cid-rMbs6buoU3 {
  padding-top: 120px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-rMbs6buoU3 .mbr-section-subtitle {
  color: #767676;
  text-align: left;
}
.cid-rMbs6buoU3 H2 {
  text-align: left;
}
.cid-rMbs0iFBtO {
  background: #ffffff;
  padding-top: 60px;
  padding-bottom: 60px;
  background: linear-gradient(0deg, #ffffff, #ffffff);
}
.cid-rMbs0iFBtO .video-block {
  margin: auto;
}
@media (max-width: 768px) {
  .cid-rMbs0iFBtO .video-block {
    width: 100% !important;
  }
}
.cid-rMbsnbXXO1 {
  padding-top: 120px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-rMbsnbXXO1 .mbr-section-subtitle {
  color: #767676;
  text-align: left;
}
.cid-rMbsnbXXO1 H2 {
  text-align: left;
}
.cid-rMbsrsWihv {
  background: #ffffff;
  padding-top: 60px;
  padding-bottom: 60px;
  background: linear-gradient(0deg, #ffffff, #ffffff);
}
.cid-rMbsrsWihv .video-block {
  margin: auto;
}
@media (max-width: 768px) {
  .cid-rMbsrsWihv .video-block {
    width: 100% !important;
  }
}
.cid-rMbsKQI2oR {
  padding-top: 120px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-rMbsKQI2oR .mbr-section-subtitle {
  color: #767676;
  text-align: left;
}
.cid-rMbsKQI2oR H2 {
  text-align: left;
}
.cid-rMbsFjkQmj {
  background: #ffffff;
  padding-top: 60px;
  padding-bottom: 60px;
  background: linear-gradient(0deg, #ffffff, #ffffff);
}
.cid-rMbsFjkQmj .video-block {
  margin: auto;
}
@media (max-width: 768px) {
  .cid-rMbsFjkQmj .video-block {
    width: 100% !important;
  }
}
.cid-rMbsWj72Mi {
  padding-top: 120px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-rMbsWj72Mi .mbr-section-subtitle {
  color: #767676;
  text-align: left;
}
.cid-rMbsWj72Mi H2 {
  text-align: left;
}
.cid-rMbt1WyVLV {
  background: #ffffff;
  padding-top: 60px;
  padding-bottom: 60px;
  background: linear-gradient(0deg, #ffffff, #ffffff);
}
.cid-rMbt1WyVLV .video-block {
  margin: auto;
}
@media (max-width: 768px) {
  .cid-rMbt1WyVLV .video-block {
    width: 100% !important;
  }
}
.cid-rMbtwViX9Z {
  padding-top: 120px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-rMbtwViX9Z .mbr-section-subtitle {
  color: #767676;
  text-align: left;
}
.cid-rMbtwViX9Z H2 {
  text-align: left;
}
.cid-rMbtsWQSEX {
  background: #149dcc;
  padding-top: 60px;
  padding-bottom: 60px;
  background: linear-gradient(0deg, #149dcc, #ffffff);
}
.cid-rMbtsWQSEX .video-block {
  margin: auto;
}
@media (max-width: 768px) {
  .cid-rMbtsWQSEX .video-block {
    width: 100% !important;
  }
}
.cid-rMbtSdQtxj {
  padding-top: 120px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-rMbtSdQtxj .mbr-section-subtitle {
  color: #767676;
  text-align: left;
}
.cid-rMbtSdQtxj H2 {
  text-align: left;
}
.cid-rMbu1Jnw8k {
  background: #ffffff;
  padding-top: 60px;
  padding-bottom: 60px;
  background: linear-gradient(0deg, #ffffff, #ffffff);
}
.cid-rMbu1Jnw8k .video-block {
  margin: auto;
}
@media (max-width: 768px) {
  .cid-rMbu1Jnw8k .video-block {
    width: 100% !important;
  }
}
.cid-rMbvAhb9Mp {
  padding-top: 120px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-rMbvAhb9Mp .mbr-section-subtitle {
  color: #767676;
  text-align: left;
}
.cid-rMbvAhb9Mp H2 {
  text-align: left;
}
.cid-rMbvuaOW9n {
  background: #efefef;
  padding-top: 60px;
  padding-bottom: 60px;
  background: linear-gradient(0deg, #efefef, #ffffff);
}
.cid-rMbvuaOW9n .video-block {
  margin: auto;
}
@media (max-width: 768px) {
  .cid-rMbvuaOW9n .video-block {
    width: 100% !important;
  }
}
.cid-rMbvNTgUBr {
  padding-top: 120px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-rMbvNTgUBr .mbr-section-subtitle {
  color: #767676;
  text-align: left;
}
.cid-rMbvNTgUBr H2 {
  text-align: left;
}
.cid-rMbvSva4iE {
  background: #ffffff;
  padding-top: 60px;
  padding-bottom: 60px;
  background: linear-gradient(0deg, #ffffff, #ffffff);
}
.cid-rMbvSva4iE .video-block {
  margin: auto;
}
@media (max-width: 768px) {
  .cid-rMbvSva4iE .video-block {
    width: 100% !important;
  }
}
.cid-rMbwkHcLgc {
  padding-top: 120px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-rMbwkHcLgc .mbr-section-subtitle {
  color: #767676;
  text-align: left;
}
.cid-rMbwkHcLgc H2 {
  text-align: left;
}
.cid-rMbwdyTV7h {
  background: #ffffff;
  padding-top: 60px;
  padding-bottom: 60px;
  background: linear-gradient(0deg, #ffffff, #ffffff);
}
.cid-rMbwdyTV7h .video-block {
  margin: auto;
}
@media (max-width: 768px) {
  .cid-rMbwdyTV7h .video-block {
    width: 100% !important;
  }
}
.cid-rMbwDLy72i {
  padding-top: 120px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-rMbwDLy72i .mbr-section-subtitle {
  color: #767676;
  text-align: left;
}
.cid-rMbwDLy72i H2 {
  text-align: left;
}
.cid-rMbwIb0aru {
  background: #ffffff;
  padding-top: 60px;
  padding-bottom: 60px;
  background: linear-gradient(0deg, #ffffff, #ffffff);
}
.cid-rMbwIb0aru .video-block {
  margin: auto;
}
@media (max-width: 768px) {
  .cid-rMbwIb0aru .video-block {
    width: 100% !important;
  }
}
.cid-rT91Rs9bzM {
  padding-top: 120px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-rT91Rs9bzM .mbr-section-subtitle {
  color: #767676;
  text-align: left;
}
.cid-rT91Rs9bzM H2 {
  text-align: left;
}
.cid-rT91WNC1A4 {
  background: #ffffff;
  padding-top: 60px;
  padding-bottom: 60px;
  background: linear-gradient(0deg, #ffffff, #ffffff);
}
.cid-rT91WNC1A4 .video-block {
  margin: auto;
}
@media (max-width: 768px) {
  .cid-rT91WNC1A4 .video-block {
    width: 100% !important;
  }
}
@primaryColor: #073b4c;
@secondaryColor: #ff3366;
@successColor: #F7ED4A;
@infoColor: #82786E;
@warningColor: #879A9F;
@dangerColor: #000000;
@mainFont: Rubik;
@display1Font: 'Rubik', sans-serif;
@display1Size: 4.25;
@display2Font: 'Rubik', sans-serif;
@display2Size: 3;
@display5Font: 'Rubik', sans-serif;
@display5Size: 2.5;
@display7Font: 'Rubik', sans-serif;
@display7Size: 1.5;
@display4Font: 'Rubik', sans-serif;
@display4Size: 1;
@isRoundedButtons: false;
@isAnimatedOnScroll: false;
@isScrollToTopButton: false;
@isPublish: true;

.cid-rWUt3M2bgH {
@fullScreen: false;
@paddingTop: 6;
@paddingBottom: 6;
@showTitle: true;
@showSubTitle: false;
@showText: true;
@showButtons: true;
@uname__12: "../../app/themes/mobirise4/components/header16/../_images/background4.jpg";
@uname__13: true;
@uname__14: #efefef;
@bg-value: #efefef;
@bg-type: "color";
@bg-color-value: #efefef;
@bg-parallax: false;
@overlay: true;
@overlayColor: #232323;
@overlayOpacity: 0.6;

& when not (@fullScreen) {
  padding-top: (@paddingTop * 15px);
  padding-bottom: (@paddingBottom * 15px);
}
& when (@bg-type = 'color') {
  background-color: @bg-value;
}
& when (@bg-type = 'image') {
  background-image: url(../../../@bg-value);
}
P {
  color: #767676;
}
}

.cid-rWWblPnKWv {

padding-top: (@paddingTop * 15px);
padding-bottom: (@paddingBottom * 15px);
background-color: @bgColor;
.mbr-section {
  text-align: center;
  color: #fff;
}
}
.cid-rXexcyCcUV {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-rXexcyCcUV .mbr-section {
  text-align: center;
  color: #fff;
}
.cid-rXbkwX8Vxv {
  padding-top: 0px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-rXbkwX8Vxv .mbr-section {
  text-align: center;
  color: #fff;
}
.cid-rXezcjRXBY {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-rXezcjRXBY .mbr-section {
  text-align: center;
  color: #fff;
}
.cid-rXeBOhmEbB {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-rXeBOhmEbB .mbr-section {
  text-align: center;
  color: #fff;
}
.cid-rXhlCAsZ5l {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-rXhlCAsZ5l .mbr-section {
  text-align: center;
  color: #fff;
}
.cid-rXhkKdIxui {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-rXhkKdIxui .mbr-section {
  text-align: center;
  color: #fff;
}
.cid-rXhmVGfm0n {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-rXhmVGfm0n .mbr-section {
  text-align: center;
  color: #fff;
}
.cid-rXho3bNeJm {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-rXho3bNeJm .mbr-section {
  text-align: center;
  color: #fff;
}
.cid-rXjgll9f5u {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-rXjgll9f5u .mbr-section {
  text-align: center;
  color: #fff;
}
.cid-rXjPV8TeC8 {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-rXjPV8TeC8 .mbr-section {
  text-align: center;
  color: #fff;
}
.cid-rXjQwvBdH1 {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-rXjQwvBdH1 .mbr-section {
  text-align: center;
  color: #fff;
}
.cid-rXjQGEzu8w {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-rXjQGEzu8w .mbr-section {
  text-align: center;
  color: #fff;
}
.cid-rXjTu11esF {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-rXjTu11esF .mbr-section {
  text-align: center;
  color: #fff;
}
.cid-rXjTUuf8nu {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-rXjTUuf8nu .mbr-section {
  text-align: center;
  color: #fff;
}
.cid-rXjUkxKBGp {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-rXjUkxKBGp .mbr-section {
  text-align: center;
  color: #fff;
}
.cid-rXjUQHL6S3 {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-rXjUQHL6S3 .mbr-section {
  text-align: center;
  color: #fff;
}
.cid-rXjUQ9Sy7y {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-rXjUQ9Sy7y .mbr-section {
  text-align: center;
  color: #fff;
}
.cid-rXjUPHf3kC {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-rXjUPHf3kC .mbr-section {
  text-align: center;
  color: #fff;
}
.cid-rXjUOXteUI {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-rXjUOXteUI .mbr-section {
  text-align: center;
  color: #fff;
}
.cid-rXjUNKqsqq {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-rXjUNKqsqq .mbr-section {
  text-align: center;
  color: #fff;
}
.cid-rXjXaM4vdx {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-rXjXaM4vdx .mbr-section {
  text-align: center;
  color: #fff;
}
.cid-rXjXcJUAwZ {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-rXjXcJUAwZ .mbr-section {
  text-align: center;
  color: #fff;
}
.cid-rXjX9iS7h9 {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-rXjX9iS7h9 .mbr-section {
  text-align: center;
  color: #fff;
}
.cid-rXjXa6vh1a {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-rXjXa6vh1a .mbr-section {
  text-align: center;
  color: #fff;
}
.cid-rXjX7bbWtn {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-rXjX7bbWtn .mbr-section {
  text-align: center;
  color: #fff;
}
.cid-rXjZI4h7rp {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-rXjZI4h7rp .mbr-section {
  text-align: center;
  color: #fff;
}
.cid-rXk0dVRrtp {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-rXk0dVRrtp .mbr-section {
  text-align: center;
  color: #fff;
}
.cid-rXk12HcDZC {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-rXk12HcDZC .mbr-section {
  text-align: center;
  color: #fff;
}
.cid-rXk1tHq8Zv {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-rXk1tHq8Zv .mbr-section {
  text-align: center;
  color: #fff;
}
.cid-rXk22fxpxq {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-rXk22fxpxq .mbr-section {
  text-align: center;
  color: #fff;
}
.cid-rXk2mhsWVM {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-rXk2mhsWVM .mbr-section {
  text-align: center;
  color: #fff;
}
.cid-rXk2HWmlT1 {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-rXk2HWmlT1 .mbr-section {
  text-align: center;
  color: #fff;
}
.cid-rXk37NAMJo {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-rXk37NAMJo .mbr-section {
  text-align: center;
  color: #fff;
}
.cid-rXk3N6fKts {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-rXk3N6fKts .mbr-section {
  text-align: center;
  color: #fff;
}
.cid-rXk5fkPB1C {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-rXk5fkPB1C .mbr-section {
  text-align: center;
  color: #fff;
}
.cid-rXk5EYV5L7 {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-rXk5EYV5L7 .mbr-section {
  text-align: center;
  color: #fff;
}
.cid-rXk9IqTxa1 {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-rXk9IqTxa1 .mbr-section {
  text-align: center;
  color: #fff;
}
.cid-rXka9F1ofn {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-rXka9F1ofn .mbr-section {
  text-align: center;
  color: #fff;
}
.cid-rXkaMPmxRf {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-rXkaMPmxRf .mbr-section {
  text-align: center;
  color: #fff;
}
.cid-rXkbqMoqj4 {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-rXkbqMoqj4 .mbr-section {
  text-align: center;
  color: #fff;
}
.cid-rXkbIKUywT {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-rXkbIKUywT .mbr-section {
  text-align: center;
  color: #fff;
}
.cid-rXkccUGZ6G {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-rXkccUGZ6G .mbr-section {
  text-align: center;
  color: #fff;
}
.cid-rXkcJLKpKq {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-rXkcJLKpKq .mbr-section {
  text-align: center;
  color: #fff;
}
.cid-rXkcYgr6Pe {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-rXkcYgr6Pe .mbr-section {
  text-align: center;
  color: #fff;
}
.cid-rXkdlkdzed {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-rXkdlkdzed .mbr-section {
  text-align: center;
  color: #fff;
}
.cid-rXkdLOjnox {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-rXkdLOjnox .mbr-section {
  text-align: center;
  color: #fff;
}
.cid-rXkeq9lUFd {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-rXkeq9lUFd .mbr-section {
  text-align: center;
  color: #fff;
}
.cid-rXkeTaFmPJ {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-rXkeTaFmPJ .mbr-section {
  text-align: center;
  color: #fff;
}
.cid-rXkfNVuUDV {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-rXkfNVuUDV .mbr-section {
  text-align: center;
  color: #fff;
}
.cid-rXkgsPW26V {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-rXkgsPW26V .mbr-section {
  text-align: center;
  color: #fff;
}
.cid-rXkgWivilW {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-rXkgWivilW .mbr-section {
  text-align: center;
  color: #fff;
}
.cid-rXkhezg2RS {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-rXkhezg2RS .mbr-section {
  text-align: center;
  color: #fff;
}
.cid-rXkhM00nlR {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-rXkhM00nlR .mbr-section {
  text-align: center;
  color: #fff;
}
.cid-rXkii3xcqY {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-rXkii3xcqY .mbr-section {
  text-align: center;
  color: #fff;
}
.cid-rXkjcjzQBB {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-rXkjcjzQBB .mbr-section {
  text-align: center;
  color: #fff;
}
.cid-rXkjDnERav {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-rXkjDnERav .mbr-section {
  text-align: center;
  color: #fff;
}
.cid-rXkk4yLncE {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-rXkk4yLncE .mbr-section {
  text-align: center;
  color: #fff;
}
.cid-rXkko7WbSk {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-rXkko7WbSk .mbr-section {
  text-align: center;
  color: #fff;
}
.cid-rXkl2G2l3j {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-rXkl2G2l3j .mbr-section {
  text-align: center;
  color: #fff;
}
.cid-rXklmE6ADc {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-rXklmE6ADc .mbr-section {
  text-align: center;
  color: #fff;
}
.cid-rXklUbQwGj {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-rXklUbQwGj .mbr-section {
  text-align: center;
  color: #fff;
}
.cid-rXkmKcQAMi {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-rXkmKcQAMi .mbr-section {
  text-align: center;
  color: #fff;
}
.cid-rXknagx5Md {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-rXknagx5Md .mbr-section {
  text-align: center;
  color: #fff;
}
.cid-rXknxgHVJU {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-rXknxgHVJU .mbr-section {
  text-align: center;
  color: #fff;
}
.cid-rXknQRBDI3 {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-rXknQRBDI3 .mbr-section {
  text-align: center;
  color: #fff;
}
.cid-rXkoogNWj1 {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-rXkoogNWj1 .mbr-section {
  text-align: center;
  color: #fff;
}
.cid-rXkoJvlTjE {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-rXkoJvlTjE .mbr-section {
  text-align: center;
  color: #fff;
}
.cid-rXkpaolzC8 {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-rXkpaolzC8 .mbr-section {
  text-align: center;
  color: #fff;
}
.cid-rXkpAT9dYy {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-rXkpAT9dYy .mbr-section {
  text-align: center;
  color: #fff;
}
.cid-rXkq5GDa5Q {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-rXkq5GDa5Q .mbr-section {
  text-align: center;
  color: #fff;
}
.cid-rXkqACefta {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-rXkqACefta .mbr-section {
  text-align: center;
  color: #fff;
}
.cid-rXkqW0IzT5 {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-rXkqW0IzT5 .mbr-section {
  text-align: center;
  color: #fff;
}
.cid-rXkrnXQ1yQ {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-rXkrnXQ1yQ .mbr-section {
  text-align: center;
  color: #fff;
}
.cid-rXkrHALttw {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-rXkrHALttw .mbr-section {
  text-align: center;
  color: #fff;
}
.cid-rXks7AJWjs {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-rXks7AJWjs .mbr-section {
  text-align: center;
  color: #fff;
}
.cid-rXkspGXLxb {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-rXkspGXLxb .mbr-section {
  text-align: center;
  color: #fff;
}
.cid-rXksK8lQtR {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-rXksK8lQtR .mbr-section {
  text-align: center;
  color: #fff;
}
.cid-rXktxAtcAg {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-rXktxAtcAg .mbr-section {
  text-align: center;
  color: #fff;
}
@primaryColor: #073b4c;
@secondaryColor: #ff3366;
@successColor: #F7ED4A;
@infoColor: #82786E;
@warningColor: #879A9F;
@dangerColor: #000000;
@mainFont: Rubik;
@display1Font: 'Rubik', sans-serif;
@display1Size: 4.25;
@display2Font: 'Rubik', sans-serif;
@display2Size: 3;
@display5Font: 'Rubik', sans-serif;
@display5Size: 2.5;
@display7Font: 'Rubik', sans-serif;
@display7Size: 1.5;
@display4Font: 'Rubik', sans-serif;
@display4Size: 1;
@isRoundedButtons: false;
@isAnimatedOnScroll: false;
@isScrollToTopButton: false;
@isPublish: true;

.cid-rXA5Hrgs5a {

padding-top: (@paddingTop * 15px);
padding-bottom: (@paddingBottom * 15px);
background-color: @bgColor;
.mbr-section {
  text-align: center;
  color: #fff;
}
P {
  text-align: right;
}
}
